body{
    background-color: aquamarine;
}
div{

    
    
    font-size: 47px;
    font-family:'Square Peg', cursive;
    margin-bottom: 7px;
    padding-left: 525px;
    color: forestgreen;
}
#s{
    font-size: 23px;
    border-radius: 10px;
}
#r{
    font-size: 23px;
    border-radius: 10px;
}


#First{
    padding-left: 1300px;
    color: #9d0ee9;
}
#Second{
    font-size: 89px;
    font-family: cursive;
    padding-bottom: 40px;
    padding-left: 336px;
    color: #38bd5a;
}

#name, #roll, #mail, #day, #gen, #Cast, #cost{
    border-radius: 7px;
    border-color: royalblue;
}


