#Gamediv{
    font-family: cursive;
    border: 3px solid;
    border-radius: 23px;
    padding: 10px;
    background-color: lightcoral;
    text-align: center;
}
.choiceBtn{
    line-height: 30px;
    width: 250px;
}
#playerText{
    color: blanchedalmond;
}
#computerText{
    color: darkkhaki;
}
